<h1>Editing city</h1>

<%= render 'form' %>

<button type="button" class="btn btn-default"><%= link_to 'Show', @city %></button> |
<button type="button" class="btn btn-success"><%= link_to 'Back', cities_path %></button>
